// Variables
@use 'sass:list'
$bgColor: rgb(56, 167, 241)
$cardColors: #f78888, #ffd254, #90ccf4, #5da2d5
$top-padding: 20vh
$cards: about, project, resume, contact

// Preloader
.preloader
    position: fixed
    left: 0px
    top: 0px
    width: 100%
    height: 100%
    z-index: 9999
    background: url(/images/loader.gif) center no-repeat #fff

// Main Page
body
    background: linear-gradient(80deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0)), url("/images/bgImage.jpg")
    background-repeat: no-repeat
    background-size: cover
    margin: 0
    height: 100vh
    overflow: auto
    color: white

.js-loader *, .js-loader *:before, .js-loader *:after
    animation-play-state: paused !important

// Adding custom Scrollbar
::-webkit-scrollbar 
    width: 10px    
    padding-right: 2px
    background: #9b9696

// Handle 
::-webkit-scrollbar-thumb 
    border-radius: 6px
    background: #42424288

// Handle on hover 
::-webkit-scrollbar-thumb:hover 
    background: #424242e1

.name-header 
    padding-top: 35vh

.designation
    margin-top: 2vh
    font-family: 'Roboto', sans-serif
    font-size: 1.5rem

.social
    padding-top: 8vh
    padding-left: 2vw
    font-size: 2rem
    opacity: 0
    animation: fadeInEffect 1s 
    animation-delay: 4s
    animation-fill-mode: forwards
    a
        margin-left: 50px
        color: white

.fadefirst
    opacity: 0
    animation: fadeInEffect 1s
    animation-delay: 1s
    animation-fill-mode: forwards
.fadesecond
    opacity: 0
    animation: fadeInEffect 1s 
    animation-delay: 2s
    animation-fill-mode: forwards
.fadethird
    opacity: 0
    animation: fadeInEffect 1s 
    animation-delay: 3s
    animation-fill-mode: forwards

// To prevent the card overlap the heading
@media only screen and (max-width: 660px)
    .name-header
        .display-1
            font-size: 4rem
        .display-4
            font-size: 2rem
    .social
        padding-top: 20vh

.non-overflow
    white-space: nowrap
    padding-right: 80px

.ruler
    border: 1px solid rgb(180, 180, 180)
    background-color: rgb(180, 180, 180)
    position: absolute 
    top: 9%
    left: 60%
    height: 0
    animation: drawLine-v 1.5s     
    animation-fill-mode: forwards

// Making ruler horizontal for < mid screens
@media only screen and (max-width: 992px)
    .name-header
        padding-top: 25vh
    .ruler
        position: relative
        top: 7vh
        left: 0%
        width: 0
        height: 0        
        animation: drawLine-h 1.5s
        animation-fill-mode: forwards
    .social
        padding-top: 10vh
        font-size: 1.5rem

// Main Page ends

// Pop-up Card     

.icons
        color: white
        display: inline
        font-size: 2rem
        padding-left: 25px
        padding-top: 38px
        display: inline

.center-card 
    position: fixed
    right: 0px
    height: 100px
    width: 85px
    border-radius: 5px 0 0 5px
    transition-duration: 0.5s
    cursor: pointer
    display: inline    
    z-index: 100

    .tag-title
        display: none
        padding-left: 10px
        padding-top: 20px
        color: #ffffff
    
    .section-title, .card-content, .google-form
        display: none
    .google-form
        overflow-y: hidden

#info-card
    position: fixed
    top: $top-padding
    right: 3px
    height: 100px
    width: 85px
    background-color: inherit
    box-shadow: 0
    cursor: pointer

a:hover
    color: white
    text-decoration: none

// Positioning the card elements with a padding increase
@for $card from 1 through 4
    ##{list.nth($cards, $card)}-card
        top: $top-padding
        margin-top: 103px * $card
        background-color: #{list.nth($cardColors, $card)}
        transform: translateX(100%)
        animation: pullInCards 0.7s
        animation-delay: 0.6s * $card
        animation-fill-mode: forwards
    ##{list.nth($cards, $card)}-card.active 
        top: 10vh
        margin-top: 0

// Reducing pop-up icons size for small displays
@media only screen and (max-height: 800px), only screen and (max-width: 430px)
    .center-card
        height: 70px
        width: 75px
        margin-top: -20px
        .section-title
            padding-top: 15px
    
    .center-card.hovered
        width: 175px
    
    .icons, #info-card
        font-size: 1.6rem
        padding: 20px 0px 0px 18px
    #info-card
        right: 0px
        width: 75px

    @for $card from 1 through 4
        ##{list.nth($cards, $card)}-card
            margin-top: 77px * $card

.center-card:hover, .hovered
    width: 200px 
    overflow: hidden
    .tag-title
        display: inline-block


// Card after opening it
.center-card.active 
    @extend .center-card
    // background-image: linear-gradient(45deg, $resumebg 5%, $resumebg 70%)
    top: 10vh
    right: 10vw
    height: 80vh
    width: 80vw
    border-radius: 0
    color: #000
    cursor: auto
    animation-fill-mode: forwards
    overflow-y: auto
    overflow-x: hidden
    z-index: 200

    .resume-btn
        float: right

    .tag-title
        display: none
    
    .icons
        position: fixed
        top: 10px
        left: 10px

    .section-title 
        text-align: center
        justify-content: center
        align-items: center
        margin-top: 30px
        color: #000
        transition-duration: 0.5s
        display: block
    
    .card-content
        display: block
        padding-top: 20%
        height: 100%
        overflow-y: auto

    .google-form
        display: block

.card-text
    margin-bottom: 1rem
    .btn-sm
        background: #90ccf4
        cursor: default
        margin-top: 4px

// Resume card
#resume-card
    .card-content
        max-width: 550px
        margin: auto
        padding-top: 7%
        font-size: 1.3rem

// Project card
#project-card
    .card-group
        padding-top: 7%
    .card-content
        padding-top: 0

// About card
#about-card
    .card-content
        font-size: 1.4rem
// Pop-up card end

// KeyFrame animation definitions

// Fade-in effect for the letters
@keyframes fadeInEffect
    0%
        opacity: 0
    100%
        opacity: 1

// Draw line in vertical and horizontal direction
@keyframes drawLine-h 
    100%
        width: 70vw
@keyframes drawLine-v
    100%
        height: 70vh

// To give a pull in effect for pop-up cards on page load
@keyframes pullInCards
    0%
        transform: translateX(100%)
    80%
        transform: translateX(-20%)
    100%    
        transform: translateX(0%)

// Keyframes end