body {
	font-family: 'Livvic', sans-serif;
	background-color: #555;
	/*padding-bottom: 20px;*/
}
body>h1 {
	color: #eef;
}
h1.navbar-brand {
	font-size: 2em;
}

#navbar-list > li{
	font-size: 1.5em;
	margin-top: 10px;	
}
ul {
	background-color: #e9f;
	padding: 0;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	border: 1px solid black;
}

p, .create-box a {
	margin: 0 15px 5px;
}
hr {
	border-color: black;
	width: 85%;
	margin: 0 10px 0 10px;
}

/*Need to make the boxes as per the given question*/
.create-box {
	margin-bottom: 30px;
}

#Chicken {
	margin: 0 13px 0;
	background-color: #fe99aa;
}
#Beef {
	margin: 0 13px 0;
	background-color: #99feaa;
}
#Sushi {
	margin: 0 13px 0;
	background-color: #bbaaff;
}